language: node_js
node_js:
    - "0.11"
    - "0.12"
    - "4"
    - "5"
    - "6"
    - "8"
    - "stable"

env:
    - CXX=g++-4.8

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
