language: node_js
node_js:
    - "0.12"
    - "0.11"
    - "0.10"
    - "stable"
    - "5"

env:
    - CXX=g++-4.8

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
